.cartIcon {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 20px;
    color: white;
    transition: transform .2s;
}

.greeting {
    color:black;
    font-size: 15px;
    margin-top: 3px;
}

.cartCount {
    margin-top: 8px;
    position: fixed;
}


.cartIconContainer {
    cursor: pointer;
}
.cartIconContainer:hover > .cartCount{
    text-shadow: 4px 4px 9px rgb(208, 190, 244);
    font-weight: bold;
}

.cartIcon:hover {
    transform: scale(1.4);
}

.cartContainer{
    width: 50%;
}