.cardContainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 50px;
    padding: 5%;
}

@media (min-width: 900px) and (max-width: 1300px) {
    .cardContainer{
        grid-template-columns: 50% 50%!important;
        column-gap: 3%!important;
    }
}

@media (max-width: 900px) {
    .cardContainer{
        grid-template-columns: 100%!important;
        column-gap: 3%!important;
    }
}


.card {
    background-color: gray;
    padding: 5%;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    scale: 1.07;
}

.cardImage {
    width: 100%;
    border-radius: 10px;
}

.cardName {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 21px;
}

.cardCategory {
    margin-bottom: 5px;
    color: #d0bef4;
}

.cardDescription {
    margin-bottom: 10px;
    min-height: 101px;
    margin-top: 15px;
}

.cardPrice {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.cardStock {
    text-align: right;
    color: #d0bef4;
}

.cardActions {
    text-align: right;
    margin-top: 20px;
}

.cardButton:hover {
    scale: 1.07;
}

.cardButtonContainer {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}